<div class="flex h-screen font-sans antialiased text-gray-200 light:text-gray-900">
	<app-sidebar/>

	<main class="flex-grow flex flex-col bg-tertiary light:bg-tertiary-light">
		<app-top-bar/>

		<div class="flex-grow relative overflow-y-auto">
			@if (state.activeView() === 'router') {
				<router-outlet/>
			}

			@for (tab of state.openTabs().values(); track tab.tabId) {
				<div class="absolute inset-0" [class.hidden]="state.activeView() !== tab.tabId">
					<webview class="w-full h-full border-0" [id]="tab.tabId" [attr.src]="tab.url" webpreferences="allowRunningInsecureContent" enableremotemodule="false" plugins allowpopups></webview>
				</div>
			}
		</div>
	</main>
</div>

@if (settings.isSettingsVisible()) {
	<app-setting [theme]="settings.theme()" [isDiscordRpcEnabled]="settings.isDiscordRpcEnabled()" (closeClick)="settings.toggleSettings(false)" (themeChange)="settings.toggleTheme()" (discordRpcChange)="settings.toggleDiscordRpc()"/>
}
