services:
  postgresql:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_DB}
    volumes:
        - postgres_data:/var/lib/postgresql
        #- postgres_data:/var/lib/postgresql/data
    networks:
      - game_launcher-net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  
  backend:
    build:
      context: .
      dockerfile: .docker/backend/backend.Dockerfile
    restart: unless-stopped
    environment:
      DATABASE_URL: ${DATABASE_URL}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_DB: ${DATABASE_DB}
    depends_on:
      - postgresql
    networks:
      - game_launcher-net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/api/library/games" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 40s
  
  frontend:
    build:
      context: .
      dockerfile: .docker/frontend/frontend.Dockerfile
    restart: unless-stopped
    environment:
      API_URL: ${API_URL:-http://backend:8080}
    depends_on:
      backend:
        condition: service_healthy

networks:
  game_launcher-net:
    driver: bridge

volumes:
  postgres_data:
    driver: local