<aside
	[class.hidden]="!this.stateService.isSideBarVisible()"
	class="flex h-screen w-20 flex-shrink-0 flex-col items-center space-y-5 overflow-y-auto overflow-x-hidden border-r border-white/5 bg-neutral-950 py-5 backdrop-blur-md light:border-black/10 light:bg-gray-200"
>
	@if (environment.showHome) {
		<app-sidebar-button description="Go to Home" path="home" icon="home" />
	}

	@if (environment.showDownload) {
		<app-sidebar-button description="Go to Downloads" path="download" icon="download" />
	}

	<app-sidebar-button description="Go to Library" path="library" icon="grid_view" />

	<div class="w-10 border-t border-white/10 light:border-black/10"></div>

	<div
		class="scrollbar-none staggered-list mx-auto h-full w-full snap-y snap-mandatory scroll-py-8 overflow-y-auto overflow-x-hidden py-1 text-center"
	>
		@for (game of gameService.getGamesByPlays(); track game.title) {
			<div class="staggered-list-item" [style.--index]="$index">
				<button
					[routerLink]="['/library/viewer', game.id]"
					routerLinkActive
					#rla="routerLinkActive"
					(click)="onGameSelect(game)"
					class="group relative h-14 w-14 flex-shrink-0 transform snap-start rounded-xl ring-2 ring-offset-2 ring-offset-tertiary transition-all duration-300 hover:scale-90 focus:outline-none light:ring-offset-tertiary-light"
					[ngClass]="rla.isActive ? 'ring-primary' : 'ring-transparent'"
					[attr.aria-label]="'Select ' + game.title"
				>
					@let tabs = stateService.getTabsByUrl(game.url)();

					@if (tabs.length > 0) {
						<span
							class="absolute -right-1 -top-1 z-10 inline-flex h-4 w-4 items-center justify-center rounded-full bg-primary pl-[1px] text-[10px] font-medium text-white"
						>
							{{ tabs.length }}
						</span>
					}

					<img
						[src]="game.iconUrl"
						[alt]="game.title + ' icon'"
						class="z-0 h-full w-full rounded-xl object-cover grayscale hover:grayscale-0"
						[ngClass]="tabs.length > 0 || rla.isActive ? 'grayscale-0' : 'grayscale-1'"
					/>
				</button>
			</div>
		} @empty {
			@for (_ of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track _) {
				<div class="staggered-list-item" [style.--index]="$index">
					<button class="h-14 w-14 flex-shrink-0 animate-pulse rounded-xl bg-zinc-700/40"></button>
				</div>
			}
		}
	</div>

	<div class="w-10 border-t border-white/10 light:border-black/10"></div>

	<app-sidebar-button (click)="stateService.openModal(ModalType.LOGIN)" description="Open Login" icon="person" />

	<app-sidebar-button
		(click)="stateService.openModal(ModalType.SETTINGS)"
		description="Open Settings"
		icon="settings"
		iconAnimation="transition-transform hover:rotate-90"
	/>
</aside>
