<div class="draggable flex-shrink-0 bg-neutral-950 light:bg-gray-200 backdrop-blur-md border-b border-white/5 light:border-black/10 z-20 flex items-center justify-between pr-3 h-[50px] w-[calc(100vw-theme(spacing.20))]">
	<div class="flex items-end -mb-px pl-4 overflow-hidden h-full self-end">
		<button
			routerLink="/library"
			(click)="state.openRouterView()"

			[ngClass]="this.state.isRouterActive ? 'border-primary text-white light:text-black' : 'border-transparent hover:text-white light:hover:text-black text-gray-400 light:text-gray-600'"

			class="not-draggable bg-transparent flex items-center px-4 py-3 text-sm font-medium border-b-2 transition-colors duration-200 focus:outline-none h-full">

			<span class="mr-2 material-symbols-rounded">browse</span>
			Library
		</button>

		<div #scrollArea (wheel)="onWheelHorizontal($event)" class="flex items-end pl-4 h-full self-end scrollbar-none overflow-x-auto overflow-y-hidden scroll-smooth">
			@for (tab of state.openTabs().values(); track tab.tabId) {
				<app-top-bar-tab [tab]="tab"/>
			}
		</div>
	</div>

	<div [class.hidden]="!isScrollable()" class="not-draggable flex items-center">
		<button (click)="scrollLeft()" aria-label="Minimize" class="bg-transparent w-8 h-8 flex items-center justify-center rounded-lg text-gray-400 light:text-gray-500 hover:text-white light:hover:text-black hover:bg-white/5 light:hover:bg-black/5 transition-colors duration-300 focus:outline-none">
			<span class="material-symbols-rounded">keyboard_arrow_left</span>
		</button>

		<button (click)="scrollRight()" aria-label="Minimize" class="bg-transparent w-8 h-8 flex items-center justify-center rounded-lg text-gray-400 light:text-gray-500 hover:text-white light:hover:text-black hover:bg-white/5 light:hover:bg-black/5 transition-colors duration-300 focus:outline-none">
			<span class="material-symbols-rounded">keyboard_arrow_right</span>
		</button>
	</div>

	<app-window-control/>
</div>
