::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: theme('colors.tertiary.DEFAULT');
}

::-webkit-scrollbar-thumb {
	background: theme('colors.primary');
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(var(--primary-color) / 0.7);
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}

.scrollbar-none {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;     /* Firefox */
}

/* Light theme scrollbar */
.light ::-webkit-scrollbar-track {
	background: #e5e7eb;
}
