/*.staggered-list {
	list-style: none;
	padding: 0;
	margin: 0;

	.staggered-list-item {
		transition-property: opacity, transform;
		transition-duration: 500ms;
		transition-delay: calc(100ms * var(--index));

		@starting-style {
			opacity: 0;
			transform: translateX(-10px);
		}
	}
}*/

.staggered-list {
	list-style: none;

	.staggered-list-item {
		opacity: 0;
		transform: translateX(-10px);

		animation: slideIn 500ms forwards;
		animation-delay: calc(100ms * var(--index));
	}
}

@keyframes slideIn {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
