<div class="overflow-y-auto bg-tertiary light:bg-tertiary-light">
	<div class="flex min-h-full flex-col items-center p-4 sm:p-8">
		<div class="mx-auto w-full max-w-6xl py-12">
			<div class="grid grid-cols-1 gap-8 md:grid-cols-3">
				@for (deploys of launcherService.getDeploys(); track deploys.id) {
					<div
						class="flex transform flex-col rounded-xl border border-white/10 bg-neutral-800 p-8 text-center shadow-lg transition-transform duration-300 hover:-translate-y-2 light:border-black/10 light:bg-white"
					>
						<h2 class="mb-2 text-3xl font-bold">{{ deploys.system }}</h2>
						<p class="mb-6 text-sm text-gray-400 light:text-gray-500">Version {{ deploys.version }}</p>
						<ul
							class="mb-8 ml-4 list-inside list-disc space-y-3 text-left text-gray-300 light:text-gray-700"
						>
							@for (detail of deploys.description_split; track detail) {
								<li>{{ detail }}</li>
							}
						</ul>
						<button
							class="mt-auto inline-flex w-full items-center justify-center rounded-lg bg-primary px-6 py-3 font-bold text-white transition-all duration-300 hover:brightness-90 focus:outline-none focus:ring-4 focus:ring-primary/50"
						>
							Download for {{ deploys.system }}
						</button>
					</div>
				}
			</div>

			<div class="mt-16 text-center text-gray-400 light:text-gray-500">
				<p>Need assistance? <a href="#" class="text-secondary hover:underline">We're here to help</a></p>
			</div>
		</div>
	</div>
</div>

<app-footer />
