@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary-color: 207 23 23;
		--secondary-color: 251 203 0;

		--tertiary-color-dark: 24 25 27;
		--tertiary-color-light: 243 244 246;
	}
}

/* For custom scrollbar styling */
/* Dark theme scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: theme('colors.tertiary.DEFAULT');
}

::-webkit-scrollbar-thumb {
	background: theme('colors.primary');
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(var(--primary-color) / 0.7);
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}

.scrollbar-none {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;     /* Firefox */
}

/* Light theme scrollbar */
.light ::-webkit-scrollbar-track {
	background: #e5e7eb;
}

.light ::-webkit-scrollbar-thumb {
	background: #9ca3af;
}

.light ::-webkit-scrollbar-thumb:hover {
	background: #6b7280;
}

/* For old browser */
button {
	background-color: transparent;
	-webkit-appearance: none;
}

/* For electron drag */
* {
	-webkit-user-select: none;
}

.draggable {
	-webkit-app-region: drag;
}

.not-draggable {
	-webkit-app-region: no-drag;
}
