:root {
	--primary-color: #cf1717;
	--secondary-color: #fbcb00;
	--tertiary-color-dark: #18191b;
	--tertiary-color-light: #f3f4f6;
}

@import "tailwindcss";

@theme {
	--color-primary: #cf1717;
	--color-secondary: #fbcb00;
	--color-tertiary: #18191b;
	--color-tertiary-light: #f3f4f6;
}

/* For custom scrollbar styling */
/* Dark theme scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--tertiary-color-dark);
}

::-webkit-scrollbar-thumb {
	background: var(--primary-color);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #e03d3d; /* Lighter red for hover */
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}

.scrollbar-none {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;     /* Firefox */
}

/* Light theme scrollbar */
.light ::-webkit-scrollbar-track {
	background: #e5e7eb;
}

.light ::-webkit-scrollbar-thumb {
	background: #9ca3af;
}

.light ::-webkit-scrollbar-thumb:hover {
	background: #6b7280;
}

/* Shimmer animation */
@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}

.shimmer-bg {
	position: relative;
	overflow: hidden;
}

.shimmer-bg::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 0,
			rgba(255, 255, 255, 0.3) 40%,
			rgba(255, 255, 255, 0.6) 50%,
			rgba(255, 255, 255, 0.3) 60%,
			rgba(255, 255, 255, 0) 100%
	);
	animation: shimmer 1.5s infinite;
}

/* For old browser */
/*button {
	background-color: transparent;
	-webkit-appearance: none;
}*/

/* For electron drag */
* {
	-webkit-user-select: none;
}

.draggable {
	-webkit-app-region: drag;
}

.not-draggable {
	-webkit-app-region: no-drag;
}
