<div
	[style.background-image]="'url(' + environment.backgroundImageUrl + ')'"
	class="absolute inset-0 bg-cover bg-center brightness-50 filter transition-all duration-500 ease-in-out light:brightness-75"
></div>

<div
	class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/50 to-transparent light:from-tertiary-light light:via-tertiary-light/50"
></div>

<div class="relative z-10 flex h-full flex-col items-center justify-center p-8 text-center">
	<h1
		class="text-shadow-lg text-6xl font-black uppercase tracking-tighter text-white sm:text-7xl md:text-8xl"
		style="text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5)"
	>
		{{ environment.name }}
	</h1>

	<p class="mb-8 mt-4 max-w-2xl text-xl text-gray-300 drop-shadow-md light:text-gray-200">
		Your Ultimate Gaming Universe. Discover, play, and connect like never before.
	</p>

	<button
		class="inline-flex transform items-center justify-center rounded-lg bg-primary px-12 py-4 text-lg font-bold text-white shadow-2xl shadow-black/40 transition-all duration-300 hover:-translate-y-1 hover:shadow-black/50 hover:brightness-90 focus:outline-none focus:ring-4 focus:ring-primary/50"
		routerLink="/download"
	>
		<span class="material-symbols-rounded mr-3">download</span>
		Download Launcher
	</button>
</div>

<app-footer />
