<div class="flex h-screen font-sans text-gray-200 antialiased light:text-gray-900">
	<app-sidebar />

	<main class="flex flex-grow flex-col bg-tertiary light:bg-tertiary-light">
		<app-top-bar />

		<div class="relative flex-grow overflow-y-auto">
			@if (stateService.isRouterActive) {
				<router-outlet />
			}

			@for (tab of stateService.openTabs().values(); track tab.tabId) {
				<div class="absolute inset-0" [class.hidden]="stateService.activeView() !== tab.tabId">
					@if (environment.useWebview) {
						@if (tab.isWhitelistedDomain) {
							<webview
								#webview
								class="h-full w-full border-0"
								[attr.data-tab-id]="tab.tabId"
								[attr.src]="tab.rawUrl"
								webpreferences="allowRunningInsecureContent"
								enableremotemodule="false"
								plugins
								allowpopups
							></webview>
						} @else {
							<webview
								#webview
								class="h-full w-full border-0"
								[attr.data-tab-id]="tab.tabId"
								[attr.src]="tab.rawUrl"
								enableremotemodule="false"
								allowpopups
							></webview>
						}
					} @else {
						<iframe class="h-full w-full border-0" [attr.src]="tab.safeUrl"></iframe>
					}
				</div>
			}
		</div>
	</main>
</div>

<div class="fixed bottom-8 right-8 z-50 flex flex-col gap-4">
	<ng-container #toasts></ng-container>
</div>

<ng-container #modals></ng-container>
