<div class="absolute inset-0">
	>
	<div class="absolute inset-0 overflow-y-auto bg-tertiary-light dark:bg-tertiary">
		<div class="mx-auto w-full max-w-7xl p-8 sm:p-12">
			<div class="mb-12 flex items-start justify-between">
				<div class="text-left">
					<h1 class="text-5xl font-black uppercase tracking-tighter">Admin Panel</h1>
					<p class="mt-2 text-lg text-gray-500 dark:text-gray-400">Platform-wide management</p>
				</div>
			</div>
			<div class="mt-10 overflow-hidden rounded-lg border border-black/5 bg-white shadow-sm dark:border-white/5 dark:bg-neutral-800">
				<div class="flex items-center justify-between border-b border-black/10 p-5 dark:border-white/10">
					<h2 class="text-xl font-bold">Game Library</h2>

					<button
						(click)="modalService.show(ModalType.ADMIN_GAME)"
						class="inline-flex items-center justify-center rounded-lg bg-green-600 px-4 py-2 text-sm font-bold text-white transition-all duration-300 hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-500/50"
					>
						<svg class="mr-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path
								clip-rule="evenodd"
								d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
								fill-rule="evenodd"
							></path>
						</svg>
						Add New Game
					</button>
				</div>

				<div class="overflow-x-auto">
					<table class="min-w-full text-sm">
						<thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-neutral-700/50 dark:text-gray-400">
							<tr>
								<th class="px-6 py-3 text-left tracking-wider" scope="col">Game</th>
								<th class="px-6 py-3 text-left tracking-wider" scope="col">Genre</th>
								<th class="px-6 py-3 text-left tracking-wider" scope="col">Visible</th>
								<th class="px-6 py-3 text-right tracking-wider" scope="col">Actions</th>
							</tr>
						</thead>

						<tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
							@for (game of gameService.getGames(); track game.title) {
								<tr [style.--index]="$index" class="staggered-list-item hover:bg-gray-50 dark:hover:bg-neutral-700/30">
									<td class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
										<div class="flex items-center">
											<img [alt]="game.title + ' logo'" [src]="game.iconUrl" class="mr-3 h-8 w-8 rounded-md" />
											<span [innerText]="game.title"></span>
										</div>
									</td>

									<td [innerText]="game.genre" class="whitespace-nowrap px-6 py-4 text-gray-500 dark:text-gray-400"></td>

									<td class="whitespace-nowrap px-6 py-4 font-semibold">
										@if (game.isVisible) {
											<span class="text-green-500">Yes</span>
										} @else {
											<span class="text-red-500">No</span>
										}
									</td>

									<td class="space-x-2 whitespace-nowrap px-6 py-4 text-right">
										<button (click)="onGameEdit(game)" class="font-semibold text-blue-600 hover:underline dark:text-blue-400">
											Edit
										</button>
										<button (click)="onGameDelete(game)" class="font-semibold text-red-600 hover:underline dark:text-red-500">
											Delete
										</button>
									</td>
								</tr>
							} @empty {
								@for (_ of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track _) {
									<tr [style.--index]="$index" class="staggered-list-item">
										<td class="whitespace-nowrap px-6 py-4">
											<div class="flex items-center">
												<div class="mr-3 h-8 w-8 animate-pulse rounded-md bg-gray-300 dark:bg-zinc-700"></div>
												<div class="h-4 w-32 animate-pulse rounded bg-gray-300 dark:bg-zinc-700"></div>
											</div>
										</td>

										<td class="whitespace-nowrap px-6 py-4">
											<div class="h-4 w-24 animate-pulse rounded bg-gray-300 dark:bg-zinc-700"></div>
										</td>

										<td class="whitespace-nowrap px-6 py-4 text-right">
											<div class="inline-flex space-x-2">
												<div class="h-4 w-12 animate-pulse rounded bg-gray-300 dark:bg-zinc-700"></div>
												<div class="h-4 w-16 animate-pulse rounded bg-gray-300 dark:bg-zinc-700"></div>
											</div>
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
